
.event_back { 
    background: url("../img/calendar.png") no-repeat scroll left center transparent !important; 
    clear: both; 
    color: #FFFFFF; 
    float: left; 
    height: 52px; 
    margin: 0 10px 0 0 !important; 
    overflow: hidden; 
    padding: 0; 
    width: 40px; 
} 
 
.event_month { 
    color: #FFFFFF; 
    font-family: Arial; 
    font-size: 10px; 
    font-weight: bold; 
    height: 22px; 
    line-height: 22px; 
    margin-left: 8px !important; 
    text-align: center; 
    text-transform: uppercase; 
} 
 
.event_day { 
    color: #000000; 
    font-family: Arial; 
    font-size: 20px; 
    font-weight: bold; 
    line-height: 14px; 
    margin-left: 8px !important; 
    text-align: center; 
    text-transform: uppercase; 
} 
 
ul, ol { 
    list-style: none outside none; 
  margin-top: 0; 
} 
 
.event-info { 
    color: black !important; 
    font-size: 11px !important; 
} 